@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.custom-menu-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0d0f1b;
    overflow: hidden;
}

.custom-menu
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-menu .custom-menu-item
{
    list-style: none;
}
.custom-menu .custom-menu-item:before
{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 13em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
}
.custom-menu .custom-menu-item:hover:before
{
    opacity: 0.1;
    letter-spacing: 0px;
}
.custom-menu .custom-menu-item .custom-menu-item-title
{
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    background: #2196f3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}
.custom-menu:hover .custom-menu-item .custom-menu-item-title
{
    opacity: 0;
}
.custom-menu .custom-menu-item .custom-menu-item-title:hover
{
    transform: scale(1.4);
    z-index: 1000;
    background: #ff3f81;
    opacity: 1;
}

.custom-menu .custom-menu-item .custom-menu-item-title:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.8), transparent);
    transform: skewX(35deg);
    transition: 0s;
}

.custom-menu .custom-menu-item .custom-menu-item-title:hover:before
{
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
}